<launch>
  <include file="$(find vrpn_client_ros)/launch/sample.launch" />
  <param name = "MAV" type = "string" value = "leader" />
  <node name="ukf_to_controller" pkg="upboard_ukf" type="ukf_to_controller" output="screen"/>
  <node name="first_ukf" pkg="first_ukf" type="first_ukf"/>
  <node name="second_ukf" pkg="second_ukf" type="second_ukf"/>
</launch>
